<!-- Footer -->
<footer id='join-us'>
    <div class="footer-div">
        <h2>{{i18n "join-us"}}</h2>
        <ul class="social">
            <li class="social-links"><a href="https://codema.in/free-software-community-of-india-fsci/" target="_blank"><img width=42px src='{{"img/discussion.png" | absURL }}'></a>{{i18n "forum"}}</li>
            <li class="social-links"><a href="https://matrix.to/#/#fsci:poddery.com" target="_blank"><img width=42px src='{{"img/matrix.svg" | absURL}}'></a>{{i18n "matrix"}}</li>
            <li class="social-links"><a href="https://join.jabber.network/#fsci@muc.tchncs.de?join" target="_blank"><img width=42px src='{{"img/xmpp.svg"| absURL}}'></a>{{i18n "xmpp-quicksy"}}</li>
            <li class="social-links"><a href="https://webchat.pirateirc.net/?channels=#fsci" target="_blank"><img width=42px src='{{"img/irc.png" | absURL}}'></a>{{i18n "irc"}}</li>
            <li class="social-links"><a href="https://lists.fsci.in/postorius/lists/fsci-discuss.lists.fsci.org.in/" target="_blank"><img width=42px src='{{"img/mail.png"|absURL}}'></a>{{i18n "mail"}}</li>
        </ul>
        <div class="col-md-12 text-center">
            <p><a onclick="document.querySelectorAll('.fa-times')[0].click()" href='{{ "code-of-conduct" | relLangURL }}'>{{ i18n "coc" }}</a> | <a href='{{ "terms-of-services" | relLangURL }}'>{{ i18n "tos" }}</a></p>
            <p>{{i18n "copyheart" | safeHTML}}</p>
        </div>
        <div>
</footer>
